
.nav{
    display: inline-block;
    padding: 15px;
    font-weight: 500;
}
.nav-bar{
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}
li button{
    background-color: rgb(241, 94, 26);
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px 15px;
    margin-top: -5px;
}
.column1{
    float:left;
    width: 33.33%;
    margin-left:25px;
    font-size: x-large;
}
.column2{
    width: 33.33%;
    float:left;
    margin-bottom: 80px;;
}
.column4{
    float: left;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 25px;
    width: 40%;

}
.column-tp{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px;
    width: 40%;
    box-shadow: 1px 5px 5px 1px rgb(211, 201, 201) ;

}
.imgtp{
    margin-left: -140px;
    width: 80%;
    height: 500px;
    
}
.Rent{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    padding: 20px 60px;
}
.Buy{
    padding: 20px 60px;
}

.column-img {
    float: left;
    width: 50%;
    margin-top: -140px;
    margin-left: 100px;
    
}


.top-rated{
    padding-bottom: -800;
    margin-left: 25px;
}
.types button{
    padding: 15px 30px;
    margin: 20px;
    background-color: white;
    border: 1px solid lightgrey;
}



.row2 {
    margin-top: 650px;
    margin-left: 100px;
}
span{
    color: orangered;
}

.flex-container{
    display:flex;
    flex-direction:row;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    
}
.flex-container > div {
    background-color: white;
    width: 33.33%;
    margin: 10px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 100px;
    box-shadow: 10px 5px 10px 5px rgb(211, 201, 201) ;
    border-radius: 10px;

    
}
.cars {
    margin-left: 20px;
    height: 300px;
    width: 90%;
    margin-bottom: 300px;
border-bottom: 2px solid white;
box-shadow: 5px 10px 10px  #888888;
background-color: white;
}
@media (max-width: 800px) {
    .flex-container > div{
      flex-direction: column;
    }
  }

.column-items {
    display: inline-block;
    float: left;

}
.get-info{
   background-color: orangered; 
   float: left;
   clear: left;
   margin-bottom: 10px;
   border:none ;
   border-radius: 3px;
   padding: 10px 15px;
   font-weight: 600;
   margin-left: 10px;
}
.items-row {
    margin-top: -280px;
}
.flex-container2 > div{
    background-color: white;
    width: 33.33%;
    margin: 10px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 50px;
    box-shadow: 10px 5px 10px 5px rgb(211, 201, 201) ;
    border-radius: 10px;
}
.type2{
    margin-left: 20px;
    height: 300px;
    width: 90%;
}
.flex-container2{
    display:flex;
    flex-direction:row;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.clients{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 130px;
}

.client-column{
    float: left;
    width: 30%;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.client-image {
    height: 300px;
    width: 100%;
    float: right;
    display: inline-block;
    margin-bottom: 30px;
    border: none;
    box-shadow: none;
}

.appstore{
    width: 200px;
    height: 100px;
    margin-bottom: 80px;
    margin-left: 20px;
    background-color: antiquewhite;
}
.download{
    margin-top: 600px;
    text-align: center;
    background-color: antiquewhite;
    height: 300px;
    border-radius: 15PX;
    margin-left: 140px;
    margin-right: 180px;
    box-shadow: 10px 5px 2px #888888;
}
.playstore{
    width: 120px;
    height: 40px;
    margin-bottom: 112px;
    margin-left: 20px;
    background-color: antiquewhite;

}
.rental{
    width: 200px;
    height: 400px;
    margin-left: 800px;
    margin-top: -600px;
    margin-bottom: -50px;
}
.row5{
    margin-left: 180px;
}
.column10{
    float: left;
    width: 25%;
    margin-left: 25px;

}
.column11{
    float: left;
    width: 20%;

}
.column12{
    float: left;
    width: 20%;
}
input{
    display: list-item;
    border-radius: 6px;
    padding: 10px;
    border: 3px solid orangered;
    margin: 6px;
}
.submit{
    background-color: orangered;
}
h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.column13{
    margin-top: 100px;
}
#benz{
    float: right;
}
#car1{
    border-radius: 10px;
    border: none;
    font-weight: 900;
    background-color: orangered;
    padding: 1px 30px;
}

#car2{
    background-color: white;
    border-radius: 10px;
    padding: 1px 30px;
    margin: 8px;
    border: 1px solid lightgray;
}
#Mercedes{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none ;
    background-color: orangered;
}
#audi{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none ;

}
#honda{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none ;

}
#toyota{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none ;
    
}
#mazda{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:5px solid none ;

}
.persona{
    display: inline-block;
    margin: 60px;
}
