li{
    display: inline-block;
    padding: 15px;
    font-weight: 500;
}
.nav-bar{
    border-bottom: 1px solid black;
    
}
li button{
    background-color: rgb(241, 94, 26);
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 15px;
}
.column1{
    float:left;
    width: 33.33%;
    margin-left:25px;
    font-size: x-large;
}
.column2{
    width: 33.33%;
    float:left;
    margin-bottom: 80px;;
}
.column4{
    float: left;
    clear: left;
    margin-left: 30px;
}
.Rent{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    padding: 15px;
}
.Buy{
    padding: 15px;
}
img{
height: 500px;
width: 500px;
margin-left: 400px;
margin-bottom: 300px;
border-bottom: 2px solid white;
box-shadow: 5px 10px 10px  #888888;
background-color: white;
}
.top-rated{
    padding-bottom: -800;
    margin-left: 25px;
}
.types button{
    padding: 15px 30px;
    margin: 20px;
    background-color: white;
    border: 1px solid lightgrey;
}
.types .mercedes {
    background-color: orangered;
}

.row2 {
    margin-bottom: 400px;
}
span{
    color: orangered;
}

.flex-container{
    display:flex;
    flex-direction:row;
    background-color: white;
    
}
.flex-container > div {
    background-color: white;
    width: 33.33%;
    margin: 10px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: -350px;
    border: 1px solid grey;
    
}
.cars {
    margin-left: 20px;
    height: 300px;
    width: 90%;
}
@media (max-width: 800px) {
    .flex-container > div{
      flex-direction: column;
    }
  }

.column-items {
    display: inline-block;
    float: left;

}
.get-info{
   background-color: orangered; 
   float: left;
   clear: left;
   margin-bottom: 10px;
   border:none ;
   border-radius: 3px;
   padding: 10px 15px;
   font-weight: 600;
   margin-left: 10px;
}
.items-row {
    margin-top: -280px;
}
