li{
    display: inline-block;
    padding: 15px;
    font-weight: 500;
}
.nav-bar{
    border-bottom: 1px solid black;
    
}
li button{
    background-color: rgb(241, 94, 26);
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 15px;
}
.column1{
    float:left;
    width: 33.33%;
    margin-left:25px;
    font-size: x-large;
}
.column2{
    width: 33.33%;
    float:left;
    margin-bottom: 80px;;
}
.column4{
    float: left;
    clear: left;
    margin-left: 30px;
}
.Rent{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    padding: 15px;
}
.Buy{
    padding: 15px;
}
img{
height: 500px;
width: 500px;
margin-left: 400px;
margin-bottom: 300px;
border-bottom: 2px solid white;
box-shadow: 5px 10px 10px  #888888;
background-color: white;
}
